<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{yyyy년 MM월 dd일 HH시 mm분 ss초} %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>
    <logger name="org.springframework" level="info"/>
    <logger name="kr.or.connect" level="debug"/>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>